<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_DIR" source="log.config.dir" />
    <property name="LOG_FILE" value="AssignmentApplication_%d{yyyyMMddHH}" />
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}]-[%-5level]-%m%n" />

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.kang.assignment.web.controller" level="INFO">
        <appender-ref ref="default" />
    </logger>
</configuration>